<footer class="footer">
	<div class="container">
		<div class="row justify-content-arround justify-content-md-between pt-md-3">
			<div class="footer__copyrights col-sm-12 col-md-4 pt-1">
				©2014 <strong>tulus</strong>driyo. All Rights Reserved.
			</div>
			<div class="footer__links col-sm-12 col-md-4 pt-1">
				<ul class="list-inline d-flex align-items-center m-0">
					<li class="list-inline-item">
						<a href="#">
							<img src="img/behance.svg" alt="behance">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<img src="img/linkedin.svg" alt="linkedin">
						</a>
					</li>									
					<li class="list-inline-item">
						<a href="#">
							<img src="img/google-plus.svg" alt="google-plus">											
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<img src="img/facebook.svg" alt="linkedin">											
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<img src="img/twitter.svg" alt="twitter">											
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>