<section class="menu">
	<div class="container navbar-wrap">
		<nav class="navbar navbar-expand-md fixed-top navbar-light">
  			<a class="navbar-brand" href="#">
  				<img src="img/logo.svg" alt="logo beetroot">
  			</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  			<div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
    			<div class="navbar-nav">
			      	<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
			      	<a class="nav-item nav-link" href="#about">about</a>
			      	<a class="nav-item nav-link" href="#services">services</a>
			      	<a class="nav-item nav-link" href="#works">works</a>
			      	<a class="nav-item nav-link" href="#contact">contact</a>
    			</div>
  			</div>
		</nav>		
	</div>
</section>